input, button {
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input::after{
      content: " ";
      display: block;
  }
  form{
      text-align: center;
      padding-top: 10%;
  }
  button{
      background-color: cornflowerblue;
  }
  header, footer{
    width: 100%;
    position: fixed;        
    background: whitesmoke;
    display: block;
  }
  header{
      top: 0;
      left: 0;
  }
  footer{
      bottom: 0;
      left: 0;
      text-align: center;
  }
  img{
      height: 2%;
      width: 2%;
      padding: 5px;
  }
